/** (C) Copyright Bobbing Wide 2016
 */
 

.post-type-archive h2,
.post-type-archive-oik-plugins h2,
.post-type-archive-oik_request h2 { 
	font-size: 18px;
	margin: 0px 0px 0px 0px;
}

/**
.post-type-archive .entry {
	margin-bottom: 2px;
	padding: 2px 20px;
}
*/

.post-type-archive p {
	margin: 0px;
	padding: 0px;
}

.post-type-archive article {
	width: 31.33333%; 
	float: left;
	padding: 2px 0.5%;
	margin: 2px 0.5%;
	position: relative; 
}

/* Enable images to appear to be the same height */
.post-type-archive article:after {
	padding-top: 85%;
}

article.oik-themes {
	height: auto;
    overflow: hidden;
	margin-bottom: 10px;
	position: relative;
}

article.oik-themes img {
	/* border: 1px solid grey; */
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	
}
.content .oik-themes.entry {
	/* background-color: #cccccc; */
}

